/* Hide descriptions as they may contain information about game results */
.teaser-headline,
.teaser-description {
    color: rgba(0, 0, 0, 0.0) !important;
}

.video-page .video-info {
    display: none;
}

.topbar-container,
.footer {
    display: none;
}

body, .main {
    background-color: #112 !important;
}

.module-header.container-header {
    display: none;
}
